body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

input {
    margin-right: 10px;
}

#buttonsContainer {
    margin-top: 20px;
    position: relative; 
    height: 80vh; 
}

#game-button {
    height: 5em;
    width: 10em;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    position: absolute; 
}


